<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css " %}">
  <link rel="stylesheet" href="{% static "css/style.css " %}">
  <script src="{% static "jquery/jquery.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="https://kit.fontawesome.com/a1816d27b1.js" crossorigin="anonymous"></script>
  <title>Web Class App</title>
</head>
<body>
  {% include "menu.html" %}
  {% block content %}
    El contenido va acá
  {% endblock %}
</body>
</html>
