{% extends "base.html" %}
{% load static%}
{% block content %}

<div class="container col-12 py-2 LartoDj">

	<div class="jumbotron text-center lightDj" >
			<div class="container">
			<h1 class="jumbotron-heading">Categorías</h1>
			<p class="lead text-muted">En esta sección se pueden ver todas las categorías existentes en esta página</p>
			<p>
				<a href="{% url 'categorias:crear_categoria' %}" class="btn btn-primary my-2">New Category</a>
				<a href="#" class="btn btn-secondary my-2">Delete Category</a>
			</p>
			</div>
		</div>

	<!--======Pixel Grid======-->

<!------------------------->
<!--======Push Menu======-->

<!------------------------->
<!--========Cards========-->
	<div class="container-fluid main-cont">
		<div class="row news-row">
			<div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block">
				<div class="card-group">
					{% for category in categorias  %}
						<div class="underlay">
							<div class="card">
								<div class="card-img-top" style="background-image: url('https://i.imgur.com/wLMJQPH.png')"></div>
								<div class="card-block" >
								<h5 class="card-title" style="font-family: 'Anton', sans-serif">{{category.name}}<hr></h5>
								<p class="card-text" >{{category.description}} <a href="{% url 'categorias:ver_categoria' category.id %}"><u>Read More...</u></a></p>
								<p class="card-text"><small class="text-muted">Last updated ? mins ago</small></p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="container LartoDj" style="height: 100px"></div>
</div>
<!------------------------>
<!--=======Scripts======-->
<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<script name="toggle-grid" type="text/javascript">
$(document).ready(function(){
  $(document).on("keypress", function(event) {
    // If 'alt + g' keys are pressed:
    if (event.which === 169){
        $('#toggle-grid').toggle();
     }
  });

  $('#toggle-grid').on("click"
  , function() {
      $('.pixel-grid').toggle();
      $('#toggle-grid').toggleClass('orange');
    });
});
</script>

{% endblock %}
