{% extends "base.html" %}

{% block content %}
<div class="limiter">
    <div class="container-login100 LartoDj">
	  


			<div class="card text-white bg-warning mb-3" style="width: 60rem;">
		  	<div class="card-body"> 
		  	<h1 class="card-title"> <a href="{% url 'categorias:crear_categoria' %}">New category</a>	    
			    
		  		
		  	</div>
			</div>

		  	<div class="card text-white bg-dark mb-3" style="width: 60rem;">
		  	<div class="card-body text-white">
			    <h1 class="card-title">Categorias:	    
			    {% for category in categorias  %}
			      <li><a href="{% url 'categorias:ver_categoria' category.id %}">{{category.name}}</a></li>
			    {% endfor %}</p>
			    </h1>
		  	</div>
			</div>
	
	</div>
</div>

{% endblock %}
