{% extends "base.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid LartoDj" style="height: 100vh; padding-top: 200px">
        <div class="container col-12">
            <h1 class="display-3 text-center lightblack mb-5 "><i class="fas fa-book mr-3"></i>
            Welcome to Web Class App! <i class="fas fa-book-reader ml-3"></i>
        </div>
        <div class="container col-12">
            <div class="row col-12 text-center center-block">
                <div class="col-md-12 col-md-offset-5">
                    <a class="btn btn-outline-success col-1  float-center mx-2"><i
                            class="fab fa-dochub mr-1"></i>DOCS</a>
                    <a class="btn btn-outline-success col-1  float-center mx-2"><i
                            class="fas fa-podcast mr-1"></i>LCAST</a>
                    <a class="btn btn-outline-success  col-1 float-center mx-2"><i
                            class="far fa-newspaper mr-1"></i>NEWS</a>
                    <a class="btn btn-outline-success  col-1 float-center mx-2"><i class="fas fa-blog mr-1"></i>BLOG</a>
                    <a class="btn btn-outline-success  col-1 float-center mx-2"><i class="far fa-sun mr-1"></i>NOVA</a>
                    <a class="btn btn-outline-success col-1 float-center mx-2 "><i class="fab fa-git mr-1"></i>FORGE</a>
                    <a class="btn btn-outline-success col-1 float-center mx-2"><i class="fas fa-tint mr-1"></i>VAPOR</a>
                    <a class="btn btn-outline-success col-1 float-center mx-2" href="https://github.com/jesuscol96/WebClassApp"><i
                            class="fab fa-github mr-1"></i>GITHUB</a>
                </div>
            </div>
            {% if is_user %}
                <div class="jumbotron mt-5 LartoDjc">
                    <div class="display-4 text-center">
                        <i class="far fa-smile-beam mr-3"></i>We are glad to see you <b>{{username}}</b>. You are a {{role}}.
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="container col-12 LartoDj" style="height: 150px"></div>
    </div>
    {% endblock %}
