{% extends "base.html" %}

{% block content %}

<div class="limiter">
		<div class="container-login100 LartoDj">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form action="{% url 'mainpage:process_register' %}"  method="post">
        {% csrf_token %}
					<span class="login100-form-title p-b-49">
						<i class="far fa-address-card mr-3"></i>Register
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Type your username">
						<span class="focus-input100"></span>
					</div>

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
						<span class="label-input100">Email</span>
						<input class="input100" type="email" name="email" placeholder="Type your email">
						<span class="focus-input100"></span>
					</div>

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
						<span class="label-input100">First Name</span>
						<input class="input100" type="text" name="firstname" placeholder="Type your first name">
						<span class="focus-input100"></span>
					</div>

           <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
						<span class="label-input100">Last Name</span>
						<input class="input100" type="text" name="lastname" placeholder="Type your last name">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
					 <span class="label-input100">Phone: </span>
					 <input class="input100" type="phone" name="phone" placeholder="Type your phone">
					 <span class="focus-input100"></span>
				 </div>

				 <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
					<span class="label-input100">Gender</span><br>
					<input type="radio" name="gender" value="male"> Male<br>
					<input type="radio" name="gender" value="female"> Female<br>
					<input type="radio" name="gender" value="other"> Other
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
				 <span class="label-input100">Date of birth: </span>
				 <input class="input100" type="date" name="date_of_birth">
				 <span class="focus-input100"></span>
			 </div>

			 <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
				<span class="label-input100">Role: </span>
				<select class="label-input100" name="role">
					{% for role in roles %}
						<option value="{{role.id}}">{{ role.name }}</option>
					{% endfor %}
				</select>
				<span class="focus-input100"></span>
			</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="Type your password">
						<span class="focus-input100"></span>
					</div>


					<div class="container-login100-form-btn mt-5">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								<input type="submit"  value=''> Sign Up
							</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>
</div>



{% endblock %}
