{% extends "base.html" %}

{% block content  %}

<div class="limiter">
    <div class="container-login100 LartoDj">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form action="{% url 'cursos:process_new_curso' %}"  method="post">
        {% csrf_token %}
          <span class="login100-form-title p-b-49">
            <i class="far fa-address-card mr-3"></i>Create courses:
          </span>

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">Title</span>
            <input class="input100" type="text" name="title" placeholder="Type the title of the course">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">Subtitle</span>
            <input class="input100" type="text" name="subtitle" placeholder="Type the subtitle of the course">
            <span class="focus-input100"></span>
          </div>          

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">Description</span>
            <input class="input100" type="text" name="description" placeholder="Type the description of the course">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">Categories:</span>
            <select  name="categoria">
              {% for categoria in categorias  %}
                <option value="{{categoria.id}}">{{categoria.name}}</option>
              {% endfor %}
            </select>            
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">About instructor:</span>
            <input class="input100" type="text" name="about_instructor" placeholder="Type the information about the instructor">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">Playlist URL:</span>
            <input class="input100" type="text" name="playlist_url" placeholder="Type the Playlist URL">
            <span class="focus-input100"></span>
          </div>          

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">What will students learn:</span>
            <input class="input100" type="text" name="what_will_students_learn" placeholder="Type What will students learn in the course">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">Target students:</span>
            <input class="input100" type="text" name="target_students" placeholder="Type the target students of the category">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">Requirements:</span>
            <input class="input100" type="text" name="requirements" placeholder="Type the requirements of the course">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">Discount price:</span>
            <input class="input100" type="text" name="discount_price" placeholder="Type the discount price of the category">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
            <span class="label-input100">Actual price:</span>
            <input class="input100" type="text" name="actual_price" placeholder="Type the actual price of the category">
            <span class="focus-input100"></span>
          </div>                                       

          <div class="container-login100-form-btn mt-5">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn">
                <input type="submit"  value=''> Create
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

{% endblock %}
