{% extends "base.html" %}
{% load static%}

{% block content %}

{% if is_subs %}
<div class="container col-12 py-2 LartoDj">

	<div class="jumbotron text-center lightDj" >
			<div class="container">
        <h1 class="jumbotron-heading">Your courses:</h1>
        <p class="lead text-muted">You can look at your courses in this section</p>
			</div>
	</div>
  

<!--========Cards========-->
	<div class="container-fluid main-cont">
		<div class="row news-row">
			<div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block">
				<div class="card-group">
					{% for curso in cursos %}
						<div class="underlay">
							<div class="card">
								<div class="card-img-top" style="background-image: url('https://i.imgur.com/wLMJQPH.png')"></div>
								<div class="card-block" >
								<h5 class="card-title" style="font-family: 'Anton', sans-serif">{{curso.title}}<hr></h5>
								<p class="card-text" >{{curso.description}}<br><br><a class="btn-sm btn-outline-primary ml-2 text-white" href="{% url 'cursos:ver_curso' curso.id %}">Read More</a></p>
								<p class="card-text"><small class="text-muted">Last updated ? mins ago</small></p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>


{% else %}
<div class="container col-12 py-2 LartoDj " style="height: 100vh">

	<div class="jumbotron text-center lightDj" >
			<div class="container">
        <h1 class="jumbotron-heading">{{msg}}</h1>
        <p class="lead text-muted">You don't have any subscriptions</p>
			</div>
	</div>
</div>
{% endif %}

<!--=======Scripts======-->
<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<script name="toggle-grid" type="text/javascript">
$(document).ready(function(){
  $(document).on("keypress", function(event) {
    // If 'alt + g' keys are pressed:
    if (event.which === 169){
        $('#toggle-grid').toggle();
     }
  });

  $('#toggle-grid').on("click"
  , function() {
      $('.pixel-grid').toggle();
      $('#toggle-grid').toggleClass('orange');
    });
});
</script>





{% endblock %}
