{% extends "base.html" %}



{% block content %}


<div class="limiter">
    <div class="container-login100 LartoDj">
      	<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
<h1>{{curso.title}}</h2>
<br>
{% if is_student %}
<a class="btn btn-primary mx-2 my-2" href="{% url 'cursos:process_subscribe' curso.id %}">Subscribe!</a>
{% endif %}
<h4>Subtitle:</h4>
{{curso.subtitle}}
<h4>Description:</h4>
{{curso.description}}
<h4>Categoria</h4>
{{curso.category_id.name}}
<h4>about_instructor</h4>
{{curso.about_instructor}}
<h4>Playlist URL:</h4>
{{curso.playlist_url}}
<h4>What will students learn:</h4>
{{curso.what_will_students_learn}}
<h4>Target students:</h4>
{{curso.target_students}}
<h4>Requirements:</h4>
{{curso.requirements}}
<h4>Discount price</h4>
{{curso.discount_price}}
<h4>Actual price</h4>
{{curso.actual_price}}
		</div>
	</div>
</div>








{% endblock %}
